<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />
<link rel="icon" href="/static/images/logo-ico.png" type="image/ico">
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/newStyle.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/static/css/fonts.css" rel="stylesheet">



</head>
<body>
    <div class="signupform">
        <h1 style="font-family: Calibri;">مستشفى الشفاء بادلب</h1>
	    <div class="container">
		
            <div class="agile_info">
                <div class="w3l_form">
                    <h4 style="text-align: right; font-family: Calibri;">يوم السبت</h4>
                    <p style="text-align: right; font-family: Calibri;"> الجِرَاْحَةُ العَاْمَّةْ ، الجِرَاْحَةُ العَظْمِيَّةْ ، الجِرَاْحَةُ العَصَبِيَّةْ، الجِرَاْحَةُ الوِعَاْئِيَّةْ <br> دَاخِلية الصَدْرِيَّةْ ، دَاخِلية العَاْمَّةْ، دَاخِلية القَلْبِيَّةْ </p>

                    <h4 style="text-align: right; font-family: Calibri;">يوم الأحد</h4>
                    <p style="text-align: right; font-family: Calibri;"> الجِرَاْحَةُ العَاْمَّةْ <br>  دَاخِلية العَاْمَّةْ، دَاخِلية القَلْبِيَّةْ </p>

                    <h4 style="text-align: right; font-family: Calibri;">يوم الإثنين</h4>
                    <p style="text-align: right; font-family: Calibri;">الجِرَاْحَةُ العَاْمَّةْ، الجِرَاْحَةُ العَظْمِيَّةْ<br> دَاخِلية الصَدْرِيَّة، دَاخِلية العَاْمَّةْ، دَاخِلية القَلْبِيَّةْ</p>

                    <h4 style="text-align: right; font-family: Calibri;">يوم الثلاثاء</h4>
                    <p style="text-align: right; font-family: Calibri;">الجِرَاْحَةُ العَاْمَّةْ ، الجِرَاْحَةُ العَظْمِيَّةْ ، الجِرَاْحَةُ البَوْلِيَّةْ <br> دَاخِلية العَاْمَّةْ، دَاخِلية القَلْبِيَّة</p>

                    <h4 style="text-align: right; font-family: Calibri;">يوم الأربعاء</h4>
                    <p style="text-align: right; font-family: Calibri;">الجِرَاْحَةُ العَاْمَّةْ، الجِرَاْحَةُ العَظْمِيَّةْ، الجِرَاْحَةُ الوِعَاْئِيَّةْ<br> دَاخِلية الصَدْرِيَّة، دَاخِلية العَاْمَّةْ، دَاخِلية القَلْبِيَّةْ</p>

                    <h4 style="text-align: right; font-family: Calibri;">يوم الخميس</h4>
                    <p style="text-align: right; font-family: Calibri;">الجِرَاْحَةُ العَاْمَّةْ، الجِرَاْحَةُ العَصَبِيَّةْ، الجِرَاْحَةُ الوِعَاْئِيَّةْ، الجِرَاْحَةُ الصَدْرِيَّةْْ</p>

                </div>

                <div class="w3_info" style="font-size: 16px">
                    <h2 style="font-family: Calibri;">يبدأ موعد الموعد الساعة 18:00 وينتهي الساعة 20:00 </h2>

                    <a href="/index/">
                        <button class="btn btn-danger btn-block" style="font-family: Calibri; font-size: x-large" type="submit">بداية</button >
                    </a>

                </div>

                <div class="clear"></div>

            </div>

		    <div class="footer">
                <p>Copyright &copy; 2021.AL SHIFAA All rights reserved</p>
            </div>

	    </div>

    </div>
</body>
</html>